@charset "UTF-8";
html {
  font-family: 'mplus-1m-regular';
  font-size: 1vw;
}

.no-scroll {
  overflow: hidden;
}

body {
  display: -ms-grid;
  display: grid;
  grid-template: "header" 30vw "main" auto "footer" auto/100%;
}

@media (min-width: 962px) {
  body {
    grid-template: "header sidebar" 12vw "main sidebar" auto "footer footer" auto/80% 20%;
  }
}

body header {
  grid-area: header;
  background-color: #fff7fe;
}

body main {
  grid-area: main;
  background-color: white;
}

body footer {
  grid-area: footer;
  background-color: #fff7fe;
}

body .l-sidebar {
  grid-area: sidebar;
  background-color: #F2EDE9;
}

body #smoke-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  visibility: hidden;
  z-index: 1;
}

body #smoke-layer.is-open {
  visibility: visible;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #707070;
  font-size: 8rem;
}

@media (min-width: 962px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 6rem;
  color: white;
}

@media (min-width: 641px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  color: white;
}

@media (min-width: 641px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 1.6vw;
  color: #707070;
  font-weight: normal;
}

hr {
  background-color: white;
  border: none;
  width: 10rem;
  height: 1rem;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  zoom: 1.05;
}

dd {
  font-size: 4.5rem;
  margin-top: 2px;
}

@media (min-width: 641px) {
  dd {
    font-size: 2.0rem;
  }
}

p {
  font-size: 2.5rem;
}

@media (min-width: 641px) {
  p {
    font-size: 1.3rem;
  }
}

.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
  /* optional rounded corners for browsers that support it */
  border-radius: 3px;
}

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}

.sticky {
  background: #f3f3f3;
}

.gallery-caption {
  font-size: 1.3rem;
}

.bypostauthor {
  background: #f0f8ff;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.l-footer {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background-image: url("../images/index_img05.jpg");
  background-size: cover;
}

.l-footer__menu {
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (min-width: 641px) {
  .l-footer__menu {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.l-footer__menu li {
  font-size: 3.5rem;
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
}

@media (min-width: 641px) {
  .l-footer__menu li {
    font-size: 1.7rem;
  }
}

.l-footer__menu li a {
  color: white;
}

.l-footer__menu li:not(:first-child)::before {
  content: "|　";
}

.l-footer__copyright {
  margin-top: 2rem;
  font-size: 3.2rem;
  font-style: normal;
}

@media (min-width: 641px) {
  .l-footer__copyright {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

.l-header {
  height: 100%;
  width: 100%;
  background-color: #FFF7EF;
  position: relative;
}

.l-header h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 25%;
  margin-left: 0;
}

@media (min-width: 962px) {
  .l-header h1 {
    text-align: left;
    margin-left: 5%;
  }
}

.l-main h2 {
  color: white;
}

.l-main h3 {
  color: black;
}

.l-main hr {
  margin-top: 2%;
}

.l-main__not-found {
  color: brown;
  font-size: 6rem;
  padding: 2rem;
}

@media (min-width: 641px) {
  .l-main__not-found {
    font-size: 3rem;
  }
}

.l-sidebar {
  overflow: hidden;
  width: 0;
  height: 0;
}

@media (min-width: 962px) {
  .l-sidebar {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}

.l-sidebar h2 {
  color: #707070;
  margin-top: 5vw;
  margin-left: 2vw;
}

.l-sidebar.is-open {
  overflow: visible;
  width: 0;
  height: 0;
}

.l-sidebar.is-open h2 {
  font-size: 0;
}

.l-sidebar .menu-cateogrymenu-container {
  overflow: hidden;
  width: 0;
  background-color: #F2EDE9;
  margin-left: 10%;
  margin-bottom: 5rem;
  padding-top: 0;
  z-index: 2;
}

@media (min-width: 962px) {
  .l-sidebar .menu-cateogrymenu-container {
    width: 90%;
  }
}

.l-sidebar .menu-cateogrymenu-container.is-open {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  height: 100vh;
  overflow-y: scroll;
  width: 80vw;
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
}

@media (min-width: 641px) {
  .l-sidebar .menu-cateogrymenu-container.is-open {
    width: 40vw;
  }
}

.l-sidebar .menu-cateogrymenu-container .menu-item a {
  text-decoration: none;
  color: #707070;
}

.l-sidebar .menu-cateogrymenu-container .menu-item-object-category {
  margin-top: 10%;
  padding-left: 5%;
  font-size: 6rem;
}

@media (min-width: 641px) {
  .l-sidebar .menu-cateogrymenu-container .menu-item-object-category {
    font-size: 2.5rem;
  }
}

@media (min-width: 962px) {
  .l-sidebar .menu-cateogrymenu-container .menu-item-object-category {
    font-size: 2.0rem;
  }
}

.l-sidebar .menu-cateogrymenu-container .menu-item-object-post {
  margin-top: 2.5%;
  padding-left: 10%;
  list-style: none;
  font-size: 5rem;
}

@media (min-width: 641px) {
  .l-sidebar .menu-cateogrymenu-container .menu-item-object-post {
    font-size: 2.0rem;
  }
}

@media (min-width: 962px) {
  .l-sidebar .menu-cateogrymenu-container .menu-item-object-post {
    font-size: 1.6rem;
  }
}

.c-button__keyword {
  width: 70%;
  border: solid thin #707070;
  border-radius: 5px;
  background-color: white;
  background-image: url(../images/icon_megane.png);
  background-repeat: no-repeat;
  background-position: 1px center;
  background-size: 3.5rem;
  padding-left: 3.5rem;
  font-size: 3.5rem;
}

@media (min-width: 962px) {
  .c-button__keyword {
    background-size: 1.5rem;
    font-size: 1.5rem;
  }
}

.c-button__submit {
  width: 25%;
  border: solid thin #707070;
  border-radius: 5px;
  color: #707070;
  background-color: #F2EDE9;
  font-size: 3.5rem;
}

@media (min-width: 962px) {
  .c-button__submit {
    font-size: 1.5rem;
  }
}

.c-button__menu {
  position: absolute;
  top: 1px;
  right: 2%;
  padding-right: 2vw;
  color: #707070;
  font-size: 3.5rem;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 962px) {
  .c-button__menu {
    display: none;
  }
}

.c-button__close #close-button {
  display: none;
}

.c-button__close #close-button.is-open {
  display: block;
  color: #707070;
  cursor: pointer;
  width: 3vw;
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 3;
}

.c-button__to-page {
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 3rem;
}

@media (min-width: 641px) {
  .c-button__to-page {
    bottom: 2rem;
  }
}

.c-button__to-page-button {
  background-color: white;
  color: #707070;
  font-size: 4rem;
  width: 35%;
  height: 100%;
  border-radius: 20px;
}

@media (min-width: 641px) {
  .c-button__to-page-button {
    font-size: 1.5rem;
  }
}

.p-hero {
  position: relative;
  background-color: black;
  margin-bottom: 2%;
  width: 100%;
  height: 35vw;
}

@media (min-width: 641px) {
  .p-hero {
    height: 15vw;
  }
}

.p-hero.big {
  height: 50vw;
}

@media (min-width: 641px) {
  .p-hero.big {
    height: 25vw;
  }
}

.p-hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

.p-hero .black {
  opacity: 50%;
}

.p-hero h1 {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
}

.p-hero h2 {
  position: absolute;
  top: 40%;
  left: 5%;
}

@media (min-width: 641px) {
  .p-hero__title {
    height: 15vw;
    font-size: 3.5rem;
  }
}

.p-articles__text-area {
  color: #3C2A10;
  width: 90%;
  margin: 3rem auto 3rem auto;
}

.p-articles__text-area h2 {
  color: #3C2A10;
  font-weight: lighter;
}

.p-articles__branch__left {
  position: relative;
}

.p-articles__branch__left img {
  width: 90%;
  margin: 5% 5% 5% 5%;
}

.p-articles__branch__left .p-articles__branch__box {
  position: absolute;
  top: 0;
  padding: 8%;
}

.p-articles__branch__left .p-articles__branch__box h2 {
  font-size: 12rem;
}

@media (min-width: 641px) {
  .p-articles__branch__left .p-articles__branch__box h2 {
    font-size: 5.5rem;
  }
}

.p-articles__branch__left .p-articles__branch__box hr {
  width: 12rem;
  height: 2rem;
}

@media (min-width: 641px) {
  .p-articles__branch__left .p-articles__branch__box hr {
    width: 7rem;
    height: 1rem;
  }
}

.p-articles__branch__left div {
  position: absolute;
  bottom: 2%;
}

.p-articles__branch__left div dl {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 7% 7% 7%;
}

.p-articles__branch__right {
  position: relative;
}

.p-articles__branch__right img {
  width: 90%;
  margin: 5% 5% 5% 5%;
}

.p-articles__branch__right .p-articles__branch__box {
  position: absolute;
  top: 0;
  padding: 8%;
}

.p-articles__branch__right .p-articles__branch__box h2 {
  font-size: 12rem;
}

@media (min-width: 641px) {
  .p-articles__branch__right .p-articles__branch__box h2 {
    font-size: 5.5rem;
  }
}

.p-articles__branch__right .p-articles__branch__box hr {
  width: 12rem;
  height: 2rem;
}

@media (min-width: 641px) {
  .p-articles__branch__right .p-articles__branch__box hr {
    width: 7rem;
    height: 1rem;
  }
}

.p-articles__branch__right div {
  position: absolute;
  bottom: 2%;
}

.p-articles__branch__right div dl {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 7% 7% 7%;
}

@media (min-width: 641px) {
  .p-articles__branch {
    display: -ms-grid;
    display: grid;
    grid-template: "left right" auto / 50% 50%;
  }
  .p-articles__branch__left {
    grid-area: left;
  }
  .p-articles__branch__right {
    grid-area: right;
  }
}

.p-articles__single-content, .p-articles__page-content {
  width: 90%;
  margin: 1rem auto 1rem auto;
  color: #3C2A10;
}

.p-articles__single-content h2, .p-articles__single-content h3, .p-articles__single-content h4, .p-articles__single-content p, .p-articles__single-content ul, .p-articles__single-content ol, .p-articles__single-content blockquote, .p-articles__page-content h2, .p-articles__page-content h3, .p-articles__page-content h4, .p-articles__page-content p, .p-articles__page-content ul, .p-articles__page-content ol, .p-articles__page-content blockquote {
  margin: 2.5rem 0 2.5rem 0;
}

.p-articles__single-content table, .p-articles__page-content table {
  margin: 5rem 0 5rem 0;
  border-collapse: collapse;
}

.p-articles__single-content th, .p-articles__single-content td, .p-articles__page-content th, .p-articles__page-content td {
  border: solid 1px #3C2A10;
  padding: 1.5rem;
}

.p-articles__single-content tr, .p-articles__single-content td:nth-of-type(1), .p-articles__page-content tr, .p-articles__page-content td:nth-of-type(1) {
  width: 30%;
}

.p-articles__single-content tr, .p-articles__single-content td:nth-of-type(2), .p-articles__page-content tr, .p-articles__page-content td:nth-of-type(2) {
  width: 70%;
}

.p-articles__single-content h2, .p-articles__page-content h2 {
  color: #3C2A10;
  font-size: 5rem;
}

@media (min-width: 641px) {
  .p-articles__single-content h2, .p-articles__page-content h2 {
    font-size: 2.5rem;
  }
}

.p-articles__single-content h3, .p-articles__page-content h3 {
  color: #3C2A10;
  font-size: 4.9rem;
}

@media (min-width: 641px) {
  .p-articles__single-content h3, .p-articles__page-content h3 {
    font-size: 2.4rem;
  }
}

.p-articles__single-content h4, .p-articles__page-content h4 {
  color: #3C2A10;
  font-size: 4.7rem;
}

@media (min-width: 641px) {
  .p-articles__single-content h4, .p-articles__page-content h4 {
    font-size: 2.2rem;
  }
}

.p-articles__single-content p, .p-articles__single-content li, .p-articles__single-content table, .p-articles__single-content blockquote, .p-articles__page-content p, .p-articles__page-content li, .p-articles__page-content table, .p-articles__page-content blockquote {
  font-size: 3.5rem;
}

@media (min-width: 641px) {
  .p-articles__single-content p, .p-articles__single-content li, .p-articles__single-content table, .p-articles__single-content blockquote, .p-articles__page-content p, .p-articles__page-content li, .p-articles__page-content table, .p-articles__page-content blockquote {
    font-size: 2rem;
  }
}

.p-articles__single-content ul, .p-articles__single-content ol, .p-articles__page-content ul, .p-articles__page-content ol {
  -webkit-padding-start: 5rem;
          padding-inline-start: 5rem;
}

.p-articles__single-content li, .p-articles__page-content li {
  list-style-position: inside;
}

.p-articles__single-content img, .p-articles__page-content img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.p-articles__single-content .size-large, .p-articles__page-content .size-large {
  margin: 3rem 0 3rem 0;
  text-align: center;
}

.p-articles__single-content .wp-block-media-text__media, .p-articles__page-content .wp-block-media-text__media {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-articles__single-content .wp-block-media-text__media.alignwide img, .p-articles__page-content .wp-block-media-text__media.alignwide img {
  margin: 2rem 2rem 2rem 0;
}

.p-articles__single-content .wp-block-media-text__media.right imag, .p-articles__page-content .wp-block-media-text__media.right imag {
  margin: 2rem 0 2rem 2rem;
}

.p-articles__single-content .wp-block-gallery img, .p-articles__page-content .wp-block-gallery img {
  width: 100%;
  height: 100%;
}

.p-articles__single-content blockquote, .p-articles__page-content blockquote {
  background-color: #F5F5F5;
  padding: 2.5rem;
}

.p-articles__single-content blockquote cite, .p-articles__page-content blockquote cite {
  font-size: 2.5rem;
  font-style: normal;
}

@media (min-width: 641px) {
  .p-articles__single-content blockquote cite, .p-articles__page-content blockquote cite {
    font-size: 1.5rem;
  }
}

.p-articles__single-content .wp-block-button, .p-articles__page-content .wp-block-button {
  width: 100%;
}

.p-articles__single-content .wp-block-button__link, .p-articles__page-content .wp-block-button__link {
  width: 100%;
  color: #3C2A10;
  border: solid thin #707070;
  background-color: #F2EDE9;
}

@media (min-width: 641px) {
  .p-articles__single-content .wp-block-button__link, .p-articles__page-content .wp-block-button__link {
    width: 30%;
  }
}

.p-articles__navigation {
  text-align: center;
  margin: 3rem 0 3rem 0;
  font-size: 5rem;
}

.p-articles__navigation.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-articles__navigation.phone .left {
  text-align: left;
  width: 30%;
  margin-left: 5%;
}

.p-articles__navigation.phone .right {
  text-align: right;
  width: 30%;
  margin-right: 5%;
}

.p-articles__navigation.pc {
  display: none;
}

@media (min-width: 641px) {
  .p-articles__navigation {
    font-size: 2rem;
  }
  .p-articles__navigation.phone {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .p-articles__navigation.pc {
    display: block;
  }
}

.p-articles__navigation a {
  color: #3C2A10;
}

.p-articles__navigation .pages, .p-articles__navigation .nextpostslink, .p-articles__navigation .previouspostslink {
  border: none;
  color: #3C2A10;
}

.p-articles__navigation .page:hover {
  background-color: #FFF7EF;
  color: #3C2A10;
}

.p-articles__navigation .current {
  background-color: #3C2A10;
  color: white;
}

.p-access {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100vw;
}

@media (min-width: 641px) {
  .p-access {
    height: 40vw;
  }
}

.p-access img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  vertical-align: bottom;
}

.p-access div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2%;
}

@media (min-width: 641px) {
  .p-access div {
    width: 60%;
    height: 100%;
  }
}

.p-access div h3 {
  opacity: 1;
  margin: 1%;
}

.p-access div hr {
  width: 10%;
  height: 2px;
}

.p-access div p {
  margin: 1%;
  padding-top: 2%;
}

.p-search-form {
  position: absolute;
  right: 0;
  bottom: 15%;
  width: 100%;
  height: 5vw;
  margin: 0 auto;
  padding: 0 20% 0 22%;
}

@media (min-width: 962px) {
  .p-search-form {
    margin: 2vw 0;
    width: 30vw;
    height: 3vw;
    padding: 0;
  }
}

.p-card {
  width: 90%;
  margin: 5rem auto 5rem auto;
}

@media (min-width: 641px) {
  .p-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.p-card__img {
  width: 100%;
  height: 50rem;
}

@media (min-width: 641px) {
  .p-card__img {
    width: 50%;
    height: 30rem;
  }
}

.p-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-card__text-area {
  width: 100%;
  background-color: #3C2B1C;
  color: white;
  height: 70rem;
  position: relative;
}

@media (min-width: 641px) {
  .p-card__text-area {
    width: 50%;
    height: 30rem;
  }
}

.p-card__text-area h1 {
  font-weight: lighter;
  font-size: 5.5rem;
  margin-bottom: 2rem;
  padding: 3rem;
}

@media (min-width: 641px) {
  .p-card__text-area h1 {
    font-size: 3rem;
  }
}

.p-card__text-area h1 a {
  color: white;
}

@media (min-width: 641px) {
  .p-card__text-area h1 {
    margin-bottom: 1rem;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
  }
}

.p-card__text-area h2 {
  font-weight: lighter;
  font-size: 5rem;
  padding-left: 4.5rem;
}

@media (min-width: 641px) {
  .p-card__text-area h2 {
    font-size: 2.5rem;
    padding-left: 3.1rem;
  }
}

.p-card__text-area p {
  font-size: 3.5rem;
  line-height: 5.5rem;
  margin-left: 5rem;
  padding: 3rem;
}

@media (min-width: 641px) {
  .p-card__text-area p {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 3.3rem;
    padding: 1.5rem;
  }
}

.p-card__text-area .more-link {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */