@mixin breakpoint($point) {
    @if $point == phone {
        @media(max-width: 640px) {
            @content ;
        }
    }
    @if $point == phonem {
        @media(min-width: 641px){
            @content ;
        }
    }
    @if $point == tablet {
        @media(max-width: 769px) {
            @content ;
        }
    }
    @if $point == pc {
        @media(max-width: 961px) {
            @content ;
        }
    }
    @if $point == wide {
        @media(min-width: 962px) {
            @content ;
        }
    }
}

@mixin box {
    img{
        width: 90%;
        margin: 5% 5% 5% 5%;
    }
    h1{
        color: white;
        font-size: 5vw;
        position: absolute;
        top: 2%;
        left: 8%;
    }
    hr{
        position: absolute;
        top:10%;
        left: 8%;
        width: 20%;
        height: 5px;
    }
    div{
        position: absolute;
        bottom:2%;
        dl{
            background-color: rgba(255, 255, 255, 0.5);
            margin: 0 7% 7% 7%;
        }    
    }
}