.c-text{
    &__branch{
        &-title{
            h3{
                position: absolute;
                top: 2%;
                left: 8%;
            }
            hr{
                position: absolute;
                top:15%;
                left: 8%;
                width: 20%;
            }
               
        }
        &-branch-content{
            dl{
                background-color: white;
                opacity: 0.5;
                margin: 0 7% 7% 7%;
            }    
        }
    }
}