.p-container{
    &__sidebar-menu{
        background-color: #F2EDE9;
        margin-left: 10%;
        padding-top: 5rem;
        &.is-open{
            display: flex;
            flex-direction: column;
            height: 100vh;
            overflow-y: scroll;
            width: 70vw;
            position: absolute;
            top: 0;
            right: 0;
            background-size: cover;
            @include breakpoint(tablet){
                width: 40vw;
            }

        }
        h3{
            margin-top: 3%;
            padding-left: 5%;
            color: #707070;
            @include breakpoint(tablet){
                font-size: 2.5rem;
            }
            @include breakpoint(wide){
                font-size: 2.0rem;
            }
        }
        ul{
            margin-bottom: 5%;
            li{
                margin-top: 1.5%;
                padding-left: 10%;
                list-style: none;
                color: #707070;
                font-size: 3.5rem;
                @include breakpoint(tablet){
                    font-size: 2.0rem;
                }
                @include breakpoint(wide){
                    font-size: 1.6rem;
                }    
            }
        }
    }
}