.l-footer{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-image: url("../images/index_img05.jpg");
    background-size: cover;
    &__menu{
        display: inline-block;
        margin-top: 5rem;
        margin-bottom: 5rem;
        @include breakpoint(tablet){
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }
        li{
            font-size: 3.5rem;
            list-style: none;
            @include breakpoint(tablet){
                font-size: 1.7rem;
            }
            a{
                color: white;
            }
        }
    }
    &__copyright{
        margin-top: 2rem;
        font-size: 3.2rem;
        font-style: normal;
        @include breakpoint(tablet){
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    }
}