.l-sidebar{
    overflow: hidden;
    width: 0;
    height: 0;
    @include breakpoint(wide){
        overflow: visible;
        width: 100%;
        height: 100%;
    }
    h2{
        color: #707070;
        margin-top: 5vw;
        margin-left: 2vw;
    }
    &.is-open{
        overflow: visible;
        width: 0;
        height: 0;
        h2{
            font-size: 0;
        }
    }
    .menu-cateogrymenu-container{
        overflow: hidden;
        width: 0;
        background-color: #F2EDE9;
        margin-left: 10%;
        margin-bottom: 5rem;
        padding-top: 0;
        z-index: 2;
        @include breakpoint(wide){
            width: 90%;
        }
        &.is-open{
            width: 100%;
            transition: .5s;
            height: 100vh;
            overflow-y: scroll;
            width: 80vw;
            position: absolute;
            top: 0;
            right: 0;
            background-size: cover;
            @include breakpoint(tablet){
                width: 40vw;
            }

        }
        .menu-item{
            a{
                text-decoration: none;
                color: #707070;
            }
            &-object-category{
                margin-top: 10%;
                padding-left: 5%;
                font-size: 6rem;
                @include breakpoint(tablet){
                    font-size: 2.5rem;
                }
                @include breakpoint(wide){
                    font-size: 2.0rem;
                }
            }
            &-object-post {
                margin-top: 2.5%;
                padding-left: 10%;
                list-style: none;
                font-size: 5rem;
                @include breakpoint(tablet){
                    font-size: 2.0rem;
                }
                @include breakpoint(wide){
                    font-size: 1.6rem;
                }    
            }
            
        }
    }
 }

